@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev,
.swiper-button-next {
  color: rgb(38, 35, 35) !important;
}
.swiper-button-next {
  right: 0 !important;
}
.swiper-button-prev {
  left: 0 !important;
}
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  font-weight: bold;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0;
}

@media (max-width: 640px) {
  .item11 {
    grid-column: 1 / -1;
  }
}

.content-box {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.text-shadows {
  filter: drop-shadow(2px 2px 7px #f7bfbf);
}

.bgs {
}

::-webkit-scrollbar {
  display: none;
}
html {
  scroll-behavior: smooth;
}

/* h-20 flex bg-white items-center fixed top-0 left-0 w-full z-50 border-b-2 */
.header {
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 2px solid #aaa;
  transition: all 0.5s;
}
.show {
  width: 40px;
}
